@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: local('Karla'), local('Karla-Regular'), url(fonts/Karla-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: local('Karla Bold'), local('Karla-Bold'), url(fonts/Karla-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

